*{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 200px;
    background-color: black;
    color: aqua;
}